.container {
	min-width: 80%;
	margin-top: 100px;
}

.title {
	background-image: url(/candles.jpeg);
	background-size: cover;
	background-repeat: repeat;
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 3rem;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	font-family: "Steelfish Rg", "helvetica neue", helvetica, arial, sans-serif;
	font-weight: 800;
	-webkit-font-smoothing: antialiased;
}

.quote {
	text-align: center;
	margin: 1rem 2rem;
}

@media screen and (max-width: 470px) {
	.title {
		font-size: 2.5rem;
	}
}
