.productContainer {
	cursor: pointer;
}

.image {
	position: relative;
	margin: 2rem auto;
	padding: 1rem;
	min-width: 300px;
	max-width: 350px;
	height: 250px;
	border: 2px solid #fbb741;
}

.name,
.price {
	text-align: center;
}

.name {
	margin: -1.5rem 0 0 0;
	font-size: 1.5rem;
}

.price {
	margin-bottom: 3rem;
}

@media screen and (min-width: 700px) {
	.main_container {
		margin: 1rem auto;
	}
}

